<form [formGroup]="form" (ngSubmit)="save()">
    <mat-dialog-content class="dialog-content">
        <h2 mat-dialog-title>
            {{ data ? 'Editar Asociación' : 'Nueva Asociación' }}
        </h2>
        <mat-form-field appearance="outline">
            <mat-label>Tipo de Documento</mat-label>
            <input matInput formControlName="tipoDocumentoIdentidad">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>N° Documento</mat-label>
            <input matInput formControlName="nDocumento">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre">
        </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-raised-button color="primary" [disabled]="form.invalid">
            Guardar
        </button>
    </mat-dialog-actions>
</form>